
@{

    ViewData["Title"] = "updateUser";
}


<form asp-action="changePassword" >
  <label for="newpass">New Password</label><br>
  <input type="text" name="newpass" value=""><br><br>
  <input type="submit" value="Save">
</form> 